.wrapper {
    font-size: 1rem;
    font-weight: 400;
    padding: 6px 25px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid transparent;
    user-select: none;
    text-decoration: none;
    display: flex;
    align-items: flex-start ;
    color: black;   
    border: none;
    text-align: center;
    padding-right: 20px;
    // outline: 1px red solid;
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    color: rgba(255, 255, 255, 1.0);
    background-color: rgba(254, 44, 85, 1.0);
    box-sizing: border-box;
    border: none;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #FE2C55;
    }
}

.outline {
    border-color: #FE2C55;
    color: #FE2C55;

    &:hover {
            background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {

    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

.title {
    font-family: Arial, Helvetica, sans-serif;
}



.hover:hover {
    background-color: #DDD;
}

.line {
    border-top: #DDD solid;
}