@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

:root {
    --primary: #fe2c55;
}
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    font-family: 'Oswald', sans-serif;
    
}